html, body {
  margin: 0;
  height: 100%;
  background: #242424;
}

header {
  text-align: center;
  padding: 40px 40px 28px;
}

header .logo {
  max-width: 155px;
}

.film-section {
  padding: 0 40px 40px;
  max-width: 1440px;
  margin: 0 auto;
}

.film-section {
  padding: 0 40px 40px;
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 720px) {
    .film-section {
      padding: 0 20px 40px;
    }
}

.vimeo-embed {
  position: relative;
  padding-bottom: 54%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.vimeo-embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.coming-soon {
  position: absolute;
  top: 50%;
  width:100%;
  text-align: center;
}

.coming-soon img {
  width: 240px;
  margin-top: -20px;
}
